@charset "utf-8";
/* CSS Document */
/*
 * By Greg Winn
 * www.winn.ws
 * 
 * This CSS Doc is for the index.php (Main guestbook page)
 */
body	{
	background:url(../img/mainbg.gif) repeat-x;
	font-family:"Trebuchet MS";
	margin:0 auto;
	padding:0;
	width:720px;
	font-size:12px;
	}
h1	{
	color:#003366;
	}
p.posttext	{
	border-bottom:2px solid #CCC;
	text-align:justify;
	}
table	{
	width:100%;
	}
#add_a_post p	{
	margin:0;
	padding:0;
	font-size:1.5em;
	font-weight:bold;
	border-bottom:1px solid #003366;
	color:#003366;
	}
#add_a_post p a	{
	border:none;
	text-decoration:none;
	color:#003366;
}
label.error	{
	font-weight:bold;
	position:absolute;
	color:#ff0000;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #ff0000;
	background:#ffd7d7;
	padding:3px 6px;
}
#post_form input	{
	width:100%;
	padding:.3em;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.2em;
	font-weight:bold;
	}
#post_form textarea	{
	width:100%;
	height:150px;
	padding:.3em;
	font-size:1em;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	}
#post_form input#btn	{
	width:55%;
	}


#login	{
	border:8px solid #CCC;
	width:350px;
	background:#fff;
	margin:2em auto 0 auto;
	padding:.5em;
	}
#login h2	{
	margin:0;
	padding:0;
	text-align:center;
	}
#login input	{
	width:80%;
	padding:.3em;
	font-size:1.2em;
	}




/*SPANS*/
.highlight	{
	background:#FFFF99;
	}
.highlight_red	{
	background:#FF99FF;
	font-size:1.2em;
	}