  <h1>~~~FeedTitle~~~</h1>
        <table width="100%">
            ~~~BeginItemsRecord~~~
            <tr>
                <td>
                    <B><A href="~~~ItemLink~~~">~~~ItemTitle~~~</A></B>
                </td>
            </tr>
            <tr>
                <td>
                    <p>~~~ItemDescription~~~</p>
                </td>
            </tr>
            ~~~EndItemsRecord~~~
        </table>