@charset "utf-8";
/* CSS Document */
/*
 * By Greg Winn
 * www.winn.ws
 * 
 * This CSS doc is for the admin area only
 */
body	{
	background:url(../../img/mainbg.gif) repeat-x 0 40px;
	font-family:"Trebuchet MS";
	margin:0 auto;
	padding:0;
	font-size:14px;
	}
#adminheader	{
	background:#afc7e4;
	border-bottom:3px solid #113562;
	}
#adminheader input	{
	border:1px solid #333;
	background:#afc7e4;
	padding:.3em;
	font-weight:bold;
}
#adminheader h1	{
	font-size:2em;
	margin:0 0 10px 0;
	padding:.5em;
	text-indent:2em;
	font-family:georgia,times;
	color:#333;
	}
#adminheader h1 small	{
	font-size:.6em;
	font-style:italic;
	color:#666666;
	cursor:pointer;
}
#adminheader h1 a	{
	text-decoration:none;
	color:#333;
}
#adminheader h1 a:hover	{
	text-decoration:underline;
}
#adminheader ul	{
	list-style:none;
	float:left;
	width:680px;
	margin:0;
	padding:0 0 0 4em;
	}
#adminheader ul li	{
	float:left;
	margin:0 1em 0 0;
	padding:6px 0 0 0;
	background:url(../../img/li_admin_offstate.gif) no-repeat;
	width:119px;
	height:29px;
	text-align:center;
	}
#adminheader ul li a 	{
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	display:block;
	width:119px;
	height:29px;
	}
#adminheader ul li:hover	{
	background:url(../../img/li_admin_onstate.gif) no-repeat;
	}
/*EXEPTIONS*/
#adminheader ul#dash li#da	{
	background:url(../../img/li_admin_onstate.gif) no-repeat;
	}
#adminheader ul#acti li#act	{
	background:url(../../img/li_admin_onstate.gif) no-repeat;
	}
#adminheader ul#arch li#arh	{
	background:url(../../img/li_admin_onstate.gif) no-repeat;
	}
#adminheader ul#post li#pos	{
	background:url(../../img/li_admin_onstate.gif) no-repeat;
	}
#adminheader ul#stats li#sta	{
	background:url(../../img/li_admin_onstate.gif) no-repeat;
	}

.airsettings	{
	padding:0 3em;
}

p#undo	{
	background:url(../../img/undo_warning.gif) no-repeat;
	width:519px;
	height:25px;
	text-align:center;
	margin:2em auto;
	padding:0;
	}
#undermain_nav	{
	background:#333;
	border-top:1px solid #1e1e1e;
	padding:.5em;
}
#undermain_nav p	{
	color:#ccc;
	font-weight:bold;
}
#activePostsNum	{
	display:block;
	position:relative;
	width:26px;
	height:19px;
	background:url(../../img/activepost_blob.gif) no-repeat;
	padding:1px 0 0 0;
	margin:-45px 0 0 80px;
	font-size:.7em;
	color:#333;
}
p#undernav	{
	margin:0 0 0 4em;
	padding:0;
	text-align:left;
	}
p#undernav a	{
	color:#ccc;
	margin:0 1.5em 0 0;
	text-decoration:none;
	}
p#undernav a:hover	{
	text-decoration:underline;
	}
p#undernav a.linkred:hover	{
	background:#520000;
}
p#spambox	{
	width:500px;
	padding:.5em;
	border:1px solid #FF6600;
	background:#FFCCFf;
	text-align:center;
	margin:0 auto;
	}

/* Added for version 2.2.1 */
#adminpost p	{
	margin:0;
	padding:0;
	font-size:1.5em;
	font-weight:bold;
	color:#003366;
	text-align:right;
	}
#adminpost p#special	{
	font-size:.9em;
	text-align:center;
}
#adminpost input	{
	width:100%;
	padding:.3em;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.2em;
	font-weight:bold;
}
#adminpost textarea	{
	width:100%;
	height:150px;
	padding:.3em;
	font-size:1em;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
#adminpost input#btn	{
	width:55%;
}

.content	{
	margin:0 auto;
	padding:0 4em;
	min-height:600px;
	}
.content table	{
	font-size:.9em;
	width:100%;
	}
.content table#adminpost	{
	width:800px;
	margin:0 auto;
} 
.content table .deleted	{
	background:#FFCCCC;
	color:#666;
	}
.content table .deleted p	{
	text-decoration:line-through;
	}
.content table p.post	{
	border-bottom:2px solid #333;
	padding:0 0 2em 0;
	}
.content table p.post2	{
	border-bottom:2px solid #333;
	padding:0 0 2em 0;
	}
.content table p.post2:hover	{
	background:#FFFF99;
	}
.content table .editclass	{
	border-bottom:2px solid #333;
	padding:0 0 2em 0;
	}
.content#settingspage	{
	width:650px;
}
.content#settingspage h3	{
	border-bottom:1px dotted #333;
	padding:.3em 0;
}
	
.title	{
	font-weight:bold;
	font-size: 1.3em;
}

.footer	{
	padding:2em;
	background:#666666;
	color:#fff;
	border-top:2px solid #333;
}
.footer a	{
	color:#fff;
}
.footer a:hover	{
	text-decoration:none;
}

.footer ul	{
	float:right;
	margin:0;
	padding:0;
	list-style:none;
	width:400px;
}
.footer ul li	{
	float:left;
	padding:0 10px;
}

#thankswinnws	{
	background:#333;
	border-bottom:1px solid #000;
	color:#666666;
	text-align:center;
	padding:.2em;
}
#thankswinnws p	{
	margin:0;
	padding:0;
	font-size:.9em;
}
	

.highlight	{
	background:#FFFF99;
	}
.red	{
	background:#CC0000;
	color:#fff;
	}
label.error	{
	font-weight:bold;
	position:absolute;
	color:#ff0000;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #ff0000;
	background:#ffd7d7;
	padding:3px 6px;
}
/*FIXES*/
.clear	{
	clear:both;
	}